.DS_Store
*.py[cod]
__pycache__/
.cache

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.log
*~

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

env/
.tox

dist/
build/
cover/
.settings
.project
*.coverage
*.log

*.egg-info